<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>Editing Book</h1>
      <% if @book.errors.any? %>
        <h3><%= "#{@book.errors.full_messages.count} errors prohibited this obj from being saved:" %></h3>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>

      <%= form_with model: @book, local:true do |f| %>
        <h5>Title</h5>
        <%= f.text_field :title, size: 60 %>
        <h5>Opinion</h5>
        <%= f.text_area :body, size: "63×20" %>
        <div class="actions">
          <%= f.submit('Update Book',class: 'btn btn-success') %>
        </div>

        <%= link_to "Show",  book_path(@book.id) %> | <%= link_to "Back",  books_path %>
      <% end %>
    </div>
  </div>
</div>